*
{
	border:0;
	margin: 0;
	padding: 0;
}
body
{
	background: #123;
	color: orange;
	font-size: 28px;
}
#contenedor1
{
	/*background: #fff;*/
	margin: .20em .5em;
	text-align: center;
	min-width: .25em;
	
}
#contenedor2
{
	/*background: #444;*/
	margin: .20em .5em;
	text-align: center;
	
}
#contenedor3
{
	/*background: #555;*/
	margin: .20em .5em;
	text-align: center;
	
}

#uno, #dos, #tres
{
	background: #455676;
	border-radius: .5em;
	border: thick dotted #f30;
	display: inline-block;
	margin: .25em .75em;
	min-height: 105px;
	min-width: 85px;
	text-align: center;


}
#cuatro, #cinco
{
	background: #455676;
	border-radius: .5em;
	border: thick dotted #f30;
	display: inline-block;
	margin: .25em .60em;
	min-height: 105px;
	min-width: 85px;
	text-align: center;

}
#seis
{
	background: #455676;
	border-radius: .5em;
	border: thick dotted #f30;
	display: inline-block;
	margin: .25em .60em;
	min-height: 105px;
	min-width: 85px;
	text-align: center;

}

