*
{
	border:0;
	margin: 0;
	padding: 0;
}
body
{
	background: skyblue;
	color: purple;
	font-size: 2em;
	text-align: center;
}

section
{
	width: 90%;
	margin: .5em auto;
}

#uno, #dos, #tres, #cuatro, #cinco, #seis, #siete, #ocho, #nueve
{
	border-radius: 1.5em;
	height: 200px;
	min-width: 31%;
	max-width: 35%;
	margin: auto;
	display: inline-block;
	vertical-align: top;

}


#uno, #tres, #cinco, #siete, #nueve
{
	background: black;
}

