*
{
	border:0;
	margin: 0;
	padding: 0;
}
body
{
	background: blue;
	color: white;
	font-size: 28px;
}

#contenedor1
{
	background: #455676;
	border-radius: .5em;
	border-style: dotted;
	margin: .25em;
	min-height: 120px;
	text-align: center;

}